element.style {
    height: 600px;
    width: 300px;
}

.top {
    padding: 2５px;
/*     vertical-align: middle; */
    text-align: center;
    background-color: lightblue;
}

h1, h2 {
    color: white;
}
